.topnav {
  background-color: RGBA(44, 46, 54, 1);
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-family: "TIMES NEW ROMAN";
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .icon {
  display: none;
}

.image-splash {
  padding: 40px;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  min-height: 600px;
  background-size: cover;
  background-position: top;
  background-image: url("https://i.imgur.com/HbSSJEv.jpg");
  background-position: 20%;
}

.splash-login-container {
  text-align: center;
  z-index: 1000;
  margin: auto;
}

.splash-text {
  position: relative;
  top: 35px;
}

body {
  background-color: #efefef;
  font-family: "Montserrat", sans-serif;
}
hr {
  width: 45%;
  position: relative;
  right: 29%;
}
footer {
  background-color: RGBA(44, 46, 54, 1);
}
html {
  font-size: 100%;
}
.picture {
  width: 35%;
  height: auto;
  position: relative;
  left: 32%;
  bottom: 200px;
  float: left;
}
.info {
  position: relative;
  top: 200px;
  width: 28%;
}
.content {
  position: relative;
  left: 15%;
  bottom: 145px;
}
.imgContainer {
  margin-left: 0;
  padding: 0;
  position: relative;
  top: 90px;
}
.myName {
  position: relative;
  top: 120px;
  left: 20%;
  font-size: 250%;
  font-family: "franchise";
}
.picInfo {
  position: relative;
  bottom: 40px;
}

.splash-info {
  color: white;
  font-size: 425%;
  position: relative;
  top: 20px;
}

.splash-info-sub {
  color: white;
  font-size: 325%;
  position: relative;
  top: 20px;
}
.top-color-div {
  background-color: RGBA(44, 46, 54, 1);
}

.section-title {
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 18px;
}

.section-title-2 {
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 38px;
}

.section-title-3 {
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 61px;
}

.project-list {
  background-color: RGBA(44, 46, 54, 1);
  position: relative;
  bottom: 21px;
}

.projects {
  position: relative;
  right: 3%;
  top: 65px;
  color: white;
}

.skills-list {
  background-color: RGBA(44, 46, 54, 1);
  position: relative;
  bottom: 44px;
}

.skills {
  position: relative;
  left: 10.5%;
  color: white;
}

.about {
  background-color: RGBA(44, 46, 54, 1);
  position: relative;
  bottom: 66px;
  height: 500px;
}

.floating-box {
  float: left;
  padding-right: 30%;
  position: relative;
  left: 5%;
}

.other-hr {
  width: 25%;
  position: relative;
  right: 40%;
}

ul {
  list-style: none;
}

.other-ul {
  position: relative;
  right: 8%;
}

.project-description {
  color: white;
}

p {
  float: left;
}

.about-text {
  color: white;
  position: relative;
  top: 15px;
  left: 10px;
}

.my-image {
  border-radius: 50%;
  position: relative;
  top: 15px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.mobile-padding {
  padding-right: 10%;
}

.header-hr {
  width: 40%;
  position: relative;
  left: 0%;
  border: solid 2px white;
}

.connect {
  text-align: center;
  position: relative;
  top: 10px;
}
i {
  padding-left: 10px;
  padding-right: 10px;
}
