.topnav {
  background-color: #caebf2;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #433237;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-family: "TIMES NEW ROMAN";
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .icon {
  display: none;
}
body {
  background-color: #efefef;
}
hr {
  width: 45%;
  position: relative;
  right: 29%;
}
footer {
  position: relative;
  top: 100px;
  right: 200px;
}
html {
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.picture {
  width: 35%;
  height: auto;
  position: relative;
  left: 32%;
  bottom: 200px;
  float: left;
}
.info {
  position: relative;
  top: 200px;
  width: 28%;
}
.content {
  position: relative;
  left: 15%;
  bottom: 145px;
}
.imgContainer {
  margin-left: 0;
  padding: 0;
  position: relative;
  top: 90px;
}
.myName {
  position: relative;
  top: 120px;
  left: 20%;
  font-size: 250%;
  font-family: "franchise";
}
.picInfo {
  position: relative;
  bottom: 40px;
}
