.topnav {
  background-color: #caebf2;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #433237;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-family: "TIMES NEW ROMAN";
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .icon {
  display: none;
}

.image-splash {
  padding: 40px;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  min-height: 600px;
  background-size: cover;
  background-position: top;
  background-image: url("https://i.imgur.com/vsVUgGE.jpg");
}

.splash-login-container {
  text-align: center;
  z-index: 1000;
  margin: auto;
}

.splash-text {
  position: relative;
  bottom: 60px;
}

body {
  background-color: #efefef;
}
hr {
  width: 45%;
  position: relative;
  right: 29%;
}
footer {
  position: relative;
  top: 100px;
  right: 200px;
}
html {
  font-size: 100%;
}
.picture {
  width: 35%;
  height: auto;
  position: relative;
  left: 32%;
  bottom: 200px;
  float: left;
}
.info {
  position: relative;
  top: 200px;
  width: 28%;
}
.content {
  position: relative;
  left: 15%;
  bottom: 145px;
}
.imgContainer {
  margin-left: 0;
  padding: 0;
  position: relative;
  top: 90px;
}
.myName {
  position: relative;
  top: 120px;
  left: 20%;
  font-size: 250%;
  font-family: "franchise";
}
.picInfo {
  position: relative;
  bottom: 40px;
}

.splash-info {
  color: white;
  font-size: 400%;
}

.splash-info-sub {
  color: white;
  font-size: 300%;
}
.top-color-div {
  background-color: teal;
}

.section-title {
  text-align: center;
}

.project-list {
  background-color: teal;
}

.projects {
  position: relative;
  left: 15%;
  top: 65px;
}

.skills-list {
  background-color: teal;
}

.skills {
  position: relative;
  left: 10.5%;
  color: white;
}

.about {
  background-color: teal;
}

.project1 {
  position: relative;
  right: 32%;
}

.project2 {
  position: relative;
  right: 16%;
}

.project3 {
  position: relative;
  right: 0.5%;
}
