.splash-container {
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/tahoesplash.jpg");
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  margin-top: 4rem;
  font-size: 5rem;
}

.title-subtext {
  margin-top: -3rem;
  margin-bottom: 17.5rem;
  font-size: 2rem;
}